doctype html
html 
  head 
    include includes/head.pug
    title The Power of Without
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    link(rel="stylesheet" href="/dist/css/form.css")
  body 
    - let activeTab = 2;

    include includes/nav.pug
    
    .columns.is-variable.is-8
      if sections.length > 1
        #sidebar.column.is-narrow
          a.active(onclick = "goToSection(1)") Site
          br
          a(onclick = "goToSection(2)") Architecture
          br
          a(onclick = "goToSection(3)") Population
        
          #google_translate_element
      .column.is-6#content
        if error.length
          .notification.is-danger
            p!= error
        if notification.length
          .notification 
            p!= notification
        else if settlement
          .notification
            p= "Updating data for " + settlement.name
        form(action = url method = "POST")
          //- Autofill questions from JSON object passed
          each s, index in sections
            section(class = (index == 0 ? "" : "is-hidden"))
              each question, index in s
                label(for = question.name)= question.label
                  | &nbsp;&nbsp;
                  if question.info
                    .info-button(data-label = `${question.label}` data-info = `${question.info}`)
                      i.fas.fa-info-circle
                br
                if question.type == "coords"
                  input#coords(name = question.name type = "text" readonly placeholder = "Select a point on the map")    
                else if question.type == "text"    
                  if question.disabled
                    input(name = question.name type = question.type readonly value = question.value)
                  else
                    input(name = question.name type = question.type value = question.value)
                else if question.type == "radio" || question.type == "checkbox"
                  each val, index in question.options
                    if question.type == "radio"
                      input(type = question.type name = question.name id = question.name + "-" + index value = val checked = (val == question.value))
                    else 
                      input(type = question.type name = question.name id = question.name + "-" + index value = val checked = (question.value != null && question.value.indexOf(val) != -1))
                    label(for = question.name + "-" + index)= val
                    br
                else if question.type == "range"
                  .range
                    label(for = question.name)= question.options[0]
                    input(type = "range" min = "1" max = `${question.options.length}` value = (question.value ? question.value : null) name = question.name id = question.name)
                    label(for = question.name)= question.options[question.options.length - 1]
                  br
                    
                br

              .button-level 
                if index > 0
                  a.button.is-light(onclick = "goToSection(" + (index) + ")") Previous Section
                
                if index == sections.length - 1
                  input.button.is-black(type="submit" value="Submit")
                else 
                  a.button.is-black(onclick = "goToSection(" + (index + 2) + ")") Next Section
      .column#right-sidebar
        if sections.length == 1 
          section
            if map
              #map
        else 
          #info.box(style = "display:none;")
            h1.heading Info
            p
          section.is-hidden 
            p Site 
          section.is-hidden 
            p Architecture
          section.is-hidden 
            p Population
    script(src = "/src/js/form.js")
    script(type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")

    
