doctype html
html 
  head 
    include includes/head.pug
    title The Power of Without
    link(rel="stylesheet" href="/dist/css/index.css")
  body 
    - let activeTab = 0;
    include includes/nav.pug
    #update-shortened.update-div-shortened
      p Subscribe
    #jumbotron
      .taxonomy-description
        p The Taxonomy helps us to understand informality
      .contribution-description
        p Help to create a global database
      .contribution-link
        a(href = "/contribute") Contribute
      //- i.fas.fa-arrow-down
    #subsciption-update.update-div 
      #close-subscribe-button.update-div-close-button
      .update-div-contents 
        .update-div-contents-tag
          p Stay Updated
        #update-contents-subscribe.update-div-contents-subscribe
          a <b>Subscribe</b>
        #update-contents-subcribe-email.update-div-contents-subscribe-email        
          input(
            type="text"
            placeholder="Email"
            value="Email"
          )
          #subscribe-button.update-div-contents-subscribe-button
    section.full-height 
      .section-container
        .taxonomy-architecture-div
        .project-description 
          .project-description-mainspan
          p <b>Kent Larson and his team are collaborating with Lord Norman Foster in a research field named "Power of Without." Today's heavy infrastructure solutions are inflexible and will not be able to be implemented at the scale and pace urbanization is taking place.</b>
          br
          br
          .project-description-subspan
            p As the world moves towards urbanization, cities are becoming increasingly complex. By 2050, about 70% of the world's population is expected to live in urban areas,  projected to reach 6.3 billion people. To keep up with the growing urban population, traditional infrastructure systems are estimated to cost $57-trillion. Few experts anticipate that this is even remotely possible and that new strategies are needed. The cost of conventional infrastructure would exceed the combined annual GDP of the USA, China, and Europe,  and 90% of this urbanization will be in Africa and Asia.
            must find new solutions to meet the complex challenges of the future. We pose an opportunity to rethink current models and invent new systems and strategies for a more livable, equitable, and resilient future. 
            The Power of Without is a collaborative initiative among institutions and local communities for identifying cost-efficient, lightweight infrastructure systems for deployment in informal settlements, to foster sustainable, resilient, and autonomous communities. A taxonomy, and methodology based in a set of workshops and classes has been developed to learn from informality.
          .project-description-gif 

        .picture-1

        .picture-2
    .footer
      .footer-top-half
        .summary-of-site
          .map-of-informality-summary
            .map-of-informality-summary-title
              <b>MAP OF INFORMALITY</b>
            .map-of-informality-summary-text
              a Country
              a Settlement
              <br/>
              a Report error on the map
              a Send feedback
          .contribute-summary
            .contribute-summary-title
              <b>MAP OF INFORMALITY</b> 
            .contribute-summary-text
              a Add a missing settlement
              a Edit a previous entry
          .tools-summary
            .tool-summary-title
              <b> THE TOOLS</b>
            .tool-summary-text  
              a(href="") The Toolkit
              a MAS.552 Settlements Without
              a Security App 
              a The Platform
          .team
            .tool-summary-title
              <b> THE TEAM </b>
            .tool-summary-text
              p <b> Kent Larson </b>, Director
              p <b> Maggie Church</b>, Program Coordinator, Communications
              <br/>
              p <b> Luis Alonso </b>, Research Lead
              p <b> Guadalupe Babio</b>, Research Lead, Design Manager
              p <b>Maitane Iruretagoyena </b>, Research Lead
              p <b> Leticia Izquierdo</b>, Research Assistant
              <br/>
              p <b> Jeffrey J Shen </b>, Research Assistant, Web Developer
              p <b>Cherie Wang </b>, Research Assistant, Web Developer
        .links-summary
          a(href="https://www.facebook.com/MITCities" target="_blank")  Facebook
          a(href="https://www.instagram.com/mitcityscience/" target="_blank")  Instagram
          a(href="https://www.youtube.com/channel/UC_xYLSGw48SThpbogRNyggQ" target="_blank")  Youtube
      .footer-bottom-half 
        .footer-bottom-half-accessories
          .footer-bottom-half-description
            p The material on this website can be used freely in any publication provided that: 
            p 1. It is duly credited as a project by the MIT Media Lab, City Science Group. 
            p 2. A PDF copy of the publication is sent to settlements@mit.edu
          .footer-bottom-half-logos   
            .footer-bottom-half-logo-1

            .footer-bottom-half-logo-2 
        .footer-copy-right
          <hr style="height:2px;background-color:#242424;margin:0px">
            p &copy; City Science 2020
    script.
      let checkScroll = function(){
        //- const navbar = document.getEleme
        const logoDiv = document.getElementById("logo-div");
        if($(document).scrollTop() >= ($("#jumbotron").height()-100)) {
          $("nav").addClass("nav-after-scroll");
            $("nav a").addClass("nav-a-after-scroll");
            
            console.log(logoDiv);
            logoDiv.className= "logo-div-white";
        }
        else  {         

           logoDiv.className="logo-div-black";           
          $("nav").removeClass("nav-after-scroll")
            $("nav a").removeClass("nav-a-after-scroll")
        }
      }
      $(document).on("mousewheel", checkScroll);
      $(document).ready(checkScroll);

      const closeSubscribeTab  =  document.getElementById("close-subscribe-button");
      closeSubscribeTab.addEventListener("click",()=>{

        const updateSubscriptionTab = document.getElementById("subsciption-update");
        updateSubscriptionTab.className = "update-div-alternate";

        const updateSubscriptionShortenedTab = document.getElementById("update-shortened");
        updateSubscriptionShortenedTab.className = "update-div-shortened-alternate";

      });
      const updateSubscriptionShortenedTab = document.getElementById("update-shortened");
      updateSubscriptionShortenedTab.addEventListener("click",()=>{
        const updateSubscriptionTab = document.getElementById("subsciption-update");
        updateSubscriptionTab.className = "update-div";
        const updateSubscriptionShortenedTab = document.getElementById("update-shortened");
        updateSubscriptionShortenedTab.className = "update-div-shortened";
        const updateContentSubscribeEmailDiv = document.getElementById("update-contents-subcribe-email");
        const updateContentSubscribeButton = document.getElementById("update-contents-subscribe");
        updateContentSubscribeEmailDiv.className="update-div-contents-subscribe-email-alternate"
        updateContentSubscribeButton.className= "update-div-contents-subscribe-alternate";
      });
      const updateContentSubscribeButton = document.getElementById("update-contents-subscribe");
      updateContentSubscribeButton.addEventListener("click",()=>{

        const updateContentSubscribeEmailDiv= document.getElementById("update-contents-subcribe-email");
        updateContentSubscribeEmailDiv.className="update-div-contents-subscribe-email-alternate";
        updateContentSubscribeButton.className= "update-div-contents-subscribe-alternate"
      });
      const updateContentSubscribeEmailButton = document.getElementById("subscribe-button");
      updateContentSubscribeEmailButton.addEventListener("click",()=>{
        const updateContentSubscribeEmailDiv = document.getElementById("update-contents-subcribe-email");
        updateContentSubscribeEmailDiv.className="update-div-contents-subscribe-email"
        updateContentSubscribeButton.className= "update-div-contents-subscribe"

      }) 

script(type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")



